version: '3.9'

services:
  nginx:
    image: nginx:1.29.3@sha256:1beed3ca46acebe9d3fb62e9067f03d05d5bfa97a00f30938a0a3580563272ad
    hostname: nginx
    container_name: nsws_archive__nginx

    restart: unless-stopped

    volumes:
      - type: bind
        source: ./content/
        target: /usr/share/nginx/html
        read_only: true

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

  cloudflared:
    image: cloudflare/cloudflared:2025.10.1@sha256:21f3607baf2384c54d592b0efe76dd5f548c0dbc083e62fa22c7fac3923d077f
    hostname: cloudflared
    container_name: nsws_archive__cloudflared

    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:
      prometheus__cloudflared:
        aliases:
          - nsws_archive__cloudflared

networks:
  default:
    name: nsws_archive__default

  prometheus__cloudflared:
    name: prometheus__cloudflared
    external: true
