version: '3.9'

services:
  nginx:
    image: nginx:1.29.4@sha256:c881927c4077710ac4b1da63b83aa163937fb47457950c267d92f7e4dedf4aec
    hostname: nginx
    container_name: nsws_archive__nginx

    restart: unless-stopped

    volumes:
      - type: bind
        source: ./content/
        target: /usr/share/nginx/html
        read_only: true

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

  cloudflared:
    image: cloudflare/cloudflared:2026.1.2@sha256:e9bcb2ef08d25632ff74344e73a025f4f4bf12718335b196fa0e670cacace8c5
    hostname: cloudflared
    container_name: nsws_archive__cloudflared

    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:
      prometheus__cloudflared:
        aliases:
          - nsws_archive__cloudflared

networks:
  default:
    name: nsws_archive__default

  prometheus__cloudflared:
    name: prometheus__cloudflared
    external: true
